<html>
<head>
<meta charset ="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Lista Competicion</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

</head>
<body>
  <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table" ></i>
            Lista competicion
<a href="{%url 'listar_equipo'%}">Equipo</a>
<a href="{%url 'listar_torneo'%}">Torneo</a>
<a href="{%url 'index'%}">Salir</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
  <table class="table table-striped" width="100%" cellspacing="0">
    <thead class="table-success">
      <tr>
        <td scope="col">Id</td>
        <td scope="col">Nombre</td>
        <td scope="col">Equipo</td>
        <td scope="col">Torneo</td>
        <td scope="col">Descripcion</td>
        <td scope="col">Editar</td>
        <td scope="col">Eliminar</td>

      </tr>
    </thead>
    <tbody>
  {%for competicion in competicion%}
      <tr>

        <td>{{competicion.id}}</td>
        <td>{{competicion.nombre}}</td>
        <td>{{competicion.equipo}}</td>
        <td>{{competicion.torneo}}</td>
        <td>{{competicion.descripcion}}</td>
        <td><a href="/editar_competicion/{{competicion.id}}/">editar</a></td>
        <td><a href="/eliminar_competicion/{{competicion.id}}/">eliminar</a></td>
        {%endfor%}
      </tr>

    </tbody>
  </table>
</div>
</div>
</div>



  <a href="{%url 'CrearCompeticion'%}">crear nuevo</a>



</body>
</html>
